@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');

$font-SpectralSC: "Spectral SC", serif;
$font-LligatSlab: "Port Lligat Slab", serif;
$font-Trykker: "Trykker", serif;

$font-light: 300;
$font-regular: 400;

$color-white: white;
$color-white-disabled: #747474;