@import "../../sass/variables.scss";

.remainingPoints-text {
  margin: 10px 0;
  font-family: $font-SpectralSC;
  font-weight: $font-light;
  color: $color-white;
}

.characterCustomizationContainer {
  width: calc(600px + 12vw);
}

.characterCustomizationContainer-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contentContainer-info {
  max-width: 50%;
  font-family: $font-Trykker;
  color: $color-white;
}