@import "../../sass//variables.scss";

.optionsContainer {
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.optionsContainer-option {
  list-style: none;
  padding: 0;
  p {
    margin: 0;
  }
}

.optionsContainer-option,
.optionsContainer-option--link {
  margin-bottom: 10px;
  color: $color-white;
  font-family: $font-SpectralSC;
  font-weight: $font-regular;
  font-size: calc(17px + 0.8vw);
  width: fit-content;
  cursor: pointer;

  &:after {
    display: block;
    content: ' ';
    border-bottom: 1px solid $color-white;
    transform: scaleX(0);
    transition: transform 150ms linear;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.optionsContainer-option--link {
  text-decoration: none;
}
